# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
build
dist

# Git
.git
.gitignore

# Env (injecté au run)
.env
.env.*
!.env.example

# Logs
logs

# IDE / OS
.DS_Store
*.log
.vscode
.idea

# Tests / coverage
coverage
*.test.*
*.spec.*

# Doc / divers
*.md
!README.md
